html{
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.8);
}

header{
    text-align: center;
    color:khaki;
}

.container{
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.matrix{
    display: flex;
    flex-wrap: wrap;
    width:304px;
    align-self: center;
    background-color: mediumblue;
}

.matrix .cell{
    height: 100px;
    width: 100px;
    background-color: black;
}

.matrix .hLine{
width: 305px;
height: 2px;
background: lightblue;
animation: expand 4s ease-in-out;
animation-iteration-count: infinite;
}

.matrix .vLine{
    height:100px;
    width:2px;
    background: lightblue;
}

@keyframes expand {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);  
    }
  }

.status{
    background-color:grey;
    padding: 0 5px;
    margin-left:10%;
    border-radius: 5px;
    width:150px;
    font-size: 20px;
}