html{
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.8);
}

header{
    text-align: center;
    color:khaki;
}

.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

.container{
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.matrix{
    display: flex;
    flex-wrap: wrap;
    width:304px;
    align-self: center;
    background-color: mediumblue;
}

.matrix .cell{
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 90px;
}

.matrix .hLine{
width: 305px;
height: 2px;
background: lightblue;
animation: expand 3s ease-out;
animation-iteration-count: infinite;
}

.matrix .vLine{
    height:100px;
    width:2px;
    background: lightblue;
}

.matrix div:nth-child(2) , .matrix div:nth-child(4){
animation-name: vertical_up;
animation-duration: 3s;
animation-iteration-count: infinite;
}

.matrix div:nth-child(8) , .matrix div:nth-child(10){
    animation-name: vertical_middle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.matrix div:nth-child(14) , .matrix div:nth-child(16){
    animation-name: vertical_down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.status{
    background-color:grey;
    padding: 0 5px;
    margin-left:10%;
    border-radius: 5px;
    width:150px;
    font-size: 20px;
    text-align: center;
}

@keyframes expand {
    0% {
        transform: scaleX(0.05);
    }
    50% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.05);  
    }
  }

@keyframes vertical_up{
    0% {
        transform: translate3d(0,100%, 0) scaleY(0)
	}
	50% {
		transform: translate3d(0,0, 0) scaleY(1)
	}
	100% {
        transform: translate3d(0,100%, 0) scaleY(0) 
	}
}

@keyframes vertical_middle{
    0% {
        transform: scaleY(0.2);
    }
    50% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(0.2);  
    }
}

@keyframes vertical_down{
    0% {
        transform: translate3d(0,-100%, 0) scaleY(0)
	}
	50% {
		transform: translate3d(0,0, 0) scaleY(1)
	}
	100% {
        transform: translate3d(0,-100%, 0) scaleY(0) 
	}
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }